<div id="header">
  <a href="/"><%= image_tag 'logo.png' %></a>

  <div id="top_bar_links">
    <ul>
    <% if user_signed_in? %>
      <li><%= link_to get_name(current_user), edit_user_registration_path %></li>
    <% end %>
    <li><%= link_to 'Home', home_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
    </ul>
    <div style="clear:both"></div>
  </div> <!-- #top_bar_links -->
</div> <!-- #header -->
