<!DOCTYPE html>
<html>
<head>
  <title>PairSTREAM</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div id="site">
    <%= render 'shared/header' %>
    <div style="clear:both"></div>

    <div id="main">
      <%= yield %>
      <div style="clear:both"></div>
    </div> <!-- #main -->

    <%= render 'shared/footer' %>
  </div> <!-- #site -->
</body>
</html>
