<!DOCTYPE html>
<html>
<head>
  <title>PairSTREAM</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div id="site">
    <%= render 'shared/header' %>
    <div style="clear:both"></div>

    <div id="main">
      <div id="left-col">
        <div class="avatar">
          <%= image_tag 'shayne.jpg' %>
          <h3><%= current_user.email %></h3>
        </div>
        <div id="add-this">
          <ul>
            <li><%= link_to 'Add Post', new_stream_post_path(@stream) %></li>
            <li><%= link_to 'Add Link', '' %></li>
            <li><%= link_to 'Add Photo', '' %></li>
            <li><%= link_to 'Add Video', '' %></li>
          </ul>
        </div>
        <div class="calendar">
          <h3>CALENDAR</h3>
          <!--
          <iframe src="https://www.google.com/calendar/embed?height=220&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=te7qsfquh47uj7sa66ejsfn64s%40group.calendar.google.com&amp;color=%23A32929" style=" border-width:0 " width="180" height="200" frameborder="0" scrolling="no"></iframe>
          -->
          <div id="calendar"><table cellpadding="0" cellspacing="0">
              <thead>
                <tr class="monthHeader">
                  <th colspan="7"><img class="arrowPrevious" src="/images/calendarPrevious.gif" onclick="parent.calendar.showPrevMonth();"><img class="arrowNext" src="/images/calendarNext.gif" onclick="parent.calendar.showNextMonth();">
                    <div class="">July 2011</div></th></tr><tr class="daysHeader"><td>S</td><td>M</td><td>T</td><td>W</td><td>T</td><td>F</td><td>S</td></tr></thead><tbody><tr class="days"><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td><a id="6_1_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,1,2011);">1</a></td><td><a id="6_2_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,2,2011);">2</a></td></tr><tr class="days"><td><a id="6_3_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,3,2011);">3</a></td><td><a id="6_4_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,4,2011);">4</a></td><td><a id="6_5_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,5,2011);">5</a></td><td><a id="6_6_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,6,2011);">6</a></td><td><a id="6_7_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,7,2011);">7</a></td><td><a id="6_8_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,8,2011);">8</a></td><td><a id="6_9_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,9,2011);">9</a></td></tr><tr class="days"><td><a id="6_10_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,10,2011);">10</a></td><td><a id="6_11_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,11,2011);">11</a></td><td><a id="6_12_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,12,2011);">12</a></td><td><a id="6_13_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,13,2011);">13</a></td><td><a id="6_14_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,14,2011);">14</a></td><td><a id="6_15_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,15,2011);">15</a></td><td><a id="6_16_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,16,2011);">16</a></td></tr><tr class="days"><td><a id="6_17_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,17,2011);">17</a></td><td><a id="6_18_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,18,2011);">18</a></td><td><a id="6_19_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,19,2011);">19</a></td><td><a id="6_20_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,20,2011);">20</a></td><td><a id="6_21_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,21,2011);">21</a></td><td><a id="6_22_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,22,2011);">22</a></td><td><a id="6_23_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,23,2011);">23</a></td></tr><tr class="days"><td><a id="6_24_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,24,2011);">24</a></td><td><a id="6_25_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,25,2011);">25</a></td><td><a id="6_26_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,26,2011);">26</a></td><td><a id="6_27_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,27,2011);">27</a></td><td><a id="6_28_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,28,2011);">28</a></td><td><a id="6_29_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,29,2011);">29</a></td><td><a id="6_30_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,30,2011);">30</a></td></tr><tr class="days"><td><a id="6_31_2011" href="#" onmousedown="javascript:parent.calendar.clickDate(6,31,2011);">31</a></td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td><td class="none">&nbsp;</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="middle">
        <div id="feeds">
          <ul>
            <li><%= link_to 'Stream', '' %></li>
            <li><%= link_to 'Bookmarks', '' %></li>
            <li><%= link_to 'Calendar', '' %></li>
            <li><%= link_to 'Todos', '' %></li>
          </ul>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <div id="right-col">
        <div class="avatar">
          <%= image_tag 'ramie.jpg' %>
          <h3><%= @other_user.email %></h3>
        </div>
        <div class="tags">
          <h3>Tags</h3>
          <p>
            love romance twitter army technology tips tutorials funny video 
          </p>
        </div>
        <div class="tags">
          <h3>Photos</h3>
          <%= image_tag 'rails.png' %>
          <%= image_tag 'rails.png' %>
        </div>
      </div>
      <div style="clear:both"></div>
    </div> <!-- #main -->

    <%= render 'shared/footer' %>
  </div> <!-- #site -->
</body>
</html>
